.signupinput{
    margin-left: 30px;
}
.rdt {
    position: relative;
}
.rdtPicker {
    display: none;
    position: absolute;
    width: 250px;
    padding: 4px;
    margin-top: 1px;
    z-index: 99999 !important;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
    display: block;
}
.rdtStatic .rdtPicker {
    box-shadow: none;
    position: static;
}

.rdtPicker .rdtTimeToggle {
    text-align: center;
}

.rdtPicker table {
    width: 100%;
    margin: 0;
}
.rdtPicker td,
.rdtPicker th {
    text-align: center;
    height: 28px;
}
.rdtPicker td {
    cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
    background: #eeeeee;
    cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
    color: #999999;
}
.rdtPicker td.rdtToday {
    position: relative;
}
.rdtPicker td.rdtToday:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #009688;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
    background-color: #009688;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
    border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
    color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}
.rdtPicker th {
    border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
    width: 14.2857%;
    border-bottom: none;
}
.rdtPicker th.rdtSwitch {
    width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
    font-size: 21px;
    vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
    cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
    background: #eeeeee;
}

.rdtPicker tfoot {
    border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
    border: none;
    background: none;
    cursor: pointer;
}
.rdtPicker button:hover {
    background-color: #eee;
}

.rdtPicker thead button {
    width: 100%;
    height: 100%;
}

td.rdtMonth,
td.rdtYear {
    height: 50px;
    width: 25%;
    cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
    background: #eee;
}

.rdtCounters {
    display: inline-block;
}

.rdtCounters > div {
    float: left;
}

.rdtCounter {
    height: 100px;
}

.rdtCounter {
    width: 40px;
}

.rdtCounterSeparator {
    line-height: 100px;
}

.rdtCounter .rdtBtn {
    height: 40%;
    line-height: 40px;
    cursor: pointer;
    display: block;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
.rdtCounter .rdtBtn:hover {
    background: #eee;
}
.rdtCounter .rdtCount {
    height: 20%;
    font-size: 1.2em;
}

.rdtMilli {
    vertical-align: middle;
    padding-left: 8px;
    width: 48px;
}

.rdtMilli input {
    width: 100%;
    font-size: 1.2em;
    margin-top: 37px;
}
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

.iconic {
    padding-top: 20px;
}
.normal {

}
.normal-chosen{

}
.hidden {
    display: none;
}

.sidemenu-dot {
    width: 20px;
    height: auto;
    position: absolute;
    border: none transparent;
    right: 12px;
    top:0;
    margin: 15px 0;
    cursor: pointer;
}
.sidemenu {
    width: 200px;
    height: auto;
    top: 40px;
    z-index: 2000;
    outline: 1px solid;
    position: absolute;
    right: 12px;
    margin: 5px;
    background: white;
    color: grey;
    border:  0.01px solid #bdbdbd;
}
.sub-nav{
    z-index: 20;
}
/*@media (min-width: 1200px){*/
    /*.sidemenu {*/
        /*top: 120px;*/
    /*}*/
/*}*/
/*@media (max-width: 600px){*/
    /*.sidemenu {*/
         /*width: 120px;*/
         /*font-size: 10px;*/
    /*}*/
/*}*/
.image-gallery {
    width: 80%;
    margin-left: 10%;
}
.image-gallery-slide{
    height: 500px;
}
.image-gallery-image{
    height: 500px;
}
.image-gallery-slide img{
    width: 100%;
    height: 100%;
}
.sidemenu-item {
    padding: 5px;
    cursor: pointer;
    margin: 0 5px;
}
.sidemenu-item:hover {
    background-color: #3e9488;
    color: white;
}


@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg
opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: #eeeeee;
    width: 3em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}


@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
    }
}
.super-menu{
    display: flex;
    flex-direction: row;
}
.item-nav{
    flex-shrink: 1;
}

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}
@media (min-width: 900px){
    .container {
        width: 70%;
        max-width: 700px;
    }
}
.peep{
    margin-top: -30px;
    height: 10px;
    width: 10px;
    min-height: 10px;
    min-width: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #e03e28;
    margin-left: 10px;
    box-shadow: 0px 0px 3px 0px;
}
.not-peep{
    margin-top: -30px;
    height: 10px;
    width: 10px;
    min-height: 10px;
    min-width: 10px;
    display: inline-block;
    border-radius: 50%;
    /* background-color: #e03e28; */
    margin-left: 10px;
}
/*NAVIGATION*/
.react-autosuggest__suggestions-list {

}
.react-autosuggest__suggestion {
    list-style-type: none;
}
.main-nav {
    margin: 0;
}

.item-nav{
    width: 33.33%;
    margin: 0;
    text-align: center;
}
.full-width{
    min-width: 100%;
    max-width: 100%;
}
.logo {
    float: left;
}
.account-logo{
    float: right!important;
    margin-right: 15px;
}
.react-autosuggest__suggestions-list {
    z-index: 10;
    padding: 0;
    max-width: 80%;
    margin: 0;
    margin-left: 10%;
    cursor:pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.react-autosuggest__suggestion:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}


.hidden {
    display: none;
}
.online {
    height: 10px;
    width: 10px;
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
    background-color: #55e05b;
    display: inline-block;
    margin-left: 10px;
    box-shadow: 0px 0px 3px 0px;
}
.not-online {
    height: 10px;
    width: 10px;
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
    background-color: #e0ab26;
    display: inline-block;
    margin-left: 10px;
    box-shadow: 0px 0px 3px 0px;
}

.nav-tabs .nav-active {
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    color: #333;
}

.nav-tabs>li>a:focus {
    background-color: #fff;
}

.nav-tabs .nav-active:hover {
    background-color: #eee;
    border-bottom: 1px solid #eee;
}

.container-messages {
    padding: 0;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

.messages {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    padding: 20px;
    max-height: 55vh;
    min-height: 55vh;
    text-align: start;
}



.chat-input {
    position: relative;
    overflow: hidden;
    padding: 10px;
    flex-shrink: 0;
}

.chat-input input[type="text"] {
    width: 100%;
    margin-left: -20px;
    margin-right: -20px;
}

.message.from-me .username {
    display: none;
}

.login-top{
    width: 600px;
    margin: 50px auto;
}
@media only screen and (max-width: 600px){
    .chat-input{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .login-top{
        width: auto;
        margin: 50px 5px;
    }
    .messages {
        padding: 5px;
        margin-bottom: 70px;
    }
}

.my-facebook-button-class {
    background-color: #4C69BA;
    background-image: -webkit-linear-gradient(#4C69BA, #3B55A0);
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /* font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif; */
    text-shadow: 0 -1px 0 #354C8C;
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 15px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.my-facebook-button-class.small {
    /*padding: calc(.34435vw + 3.38843px) calc(.34435vw + 8.38843px)*/
}

.my-facebook-button-class.medium {
    /*padding: calc(.34435vw + 8.38843px) calc(.34435vw + 13.38843px)*/
}

.my-facebook-button-class.metro {
    /*border-radius: 15px;*/
}

.my-facebook-button-class .fa {
    margin-right: calc(.34435vw + 3.38843px)
}

.newTab {
    text-decoration: none;
    color: inherit;
}
.newTab:hover {
    text-decoration: none;
    color: inherit;
}
.newTab:focus {
    text-decoration: none;
    color: inherit;
}

.message.from-me {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.message.from-me .message-body {
    background-color: #009688;
    color: white;
}
.message.from-me .message-time {
    background-color: #af9570;
    color: white;
    font-size: smaller;
    display: block;
}

.message {
    margin-bottom: 20px;
    margin-right: 10px;
}
.message-body {
    max-width: 80%;
    display: inline-block;
    padding: 20px;
    border: 1px;
    border-radius: 5px;
    background-color: #b4b8b3;
    margin-left: 10px;
    word-wrap: break-word;
}

.username {
    font-weight: bold;
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 5px;
    margin-left: 40px;
}
body {
    font-family: 'proxima-nova', sans-serif;
    margin: 0;
}

input[type="text"] {
    margin: 10px 0px;
    height: 60px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    color: #1e1e1e;
    font: 100 1.5rem "proxima-nova", sans-serif;
    width: 80%;
    border: 1px solid #dee0e0;
    padding: 0 20px;
    -webkit-transition: border-color 0.2s ease-in-out;
    -moz-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus {
    border: 1px solid #AF9570;
    outline: none !important;
}

input[type="submit"] {
    background-color: #323232;
    color: white;
    font: 700 1rem "proxima-nova",sans-serif;
    border: none;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    padding: 20px 80px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
    -moz-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
    box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
    margin-top: 20px;
}

input[type="submit"]:hover {
    -webkit-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
    -moz-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
    box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
    background-color: #1e1e1e;
}
.username-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}

h1 {
    display: block;
}
.row-content{
    text-align: left;
}
.row-picture{
    padding-top: 20px!important;
    height: 70px;
    min-height: 70px;
}
